<p id="notice"><%= notice %></p>

<p>
  <b>Position name:</b>
  <%= @position.position_name %>
</p>


<%= link_to 'Edit', edit_admin_position_path(@position) %> |
<%= link_to 'Back', admin_positions_path %>
