<div data-role="page" data-add-back-btn="true" data-back-btn-text="Back">
    <!-- header -->
    <div data-role="header">
        <h3>Update Game</h3>
        <%= link_to("Menu", admin_menu_index_path, {"data-icon" => "grid", "data-iconpos" => "notext", "class" => "ui-btn-right"}) %>
    </div>
    <!-- /header -->
    <div data-role="content">
        <%= render 'form_edit' %>
    </div>
    <!-- footer -->
    <!-- /footer -->

</div>