<div data-role="page">
    <!-- header -->
    <%= render "header_portal"%>
    <!-- /header -->
    <div data-role="content">
        <h1>Schedule#index</h1>
        <p>Find me in app/views/schedule/index.html.erb</p>
    </div>

    <!-- footer -->
    <%= render "footer_portal"%>
    <!-- /footer -->

</div>
