<div data-role="page">
    <!-- header -->
    <%= render "header_admin"%>
    <!-- /header -->

    <div data-role="content">
        <!-- Menu list -->
        <ul data-role="listview" data-inset="true">
            <li data-role="list-divider">Menu List</li>
            <li><%= link_to "Games", admin_games_path %></li>
        </ul>
    </div>
    
    <!-- footer -->
    <!-- /footer -->

</div>
