<div data-theme="a" data-role="header">
  <h3>Millennium Falcons</h3>
  <%= link_to("設定", admin_authentication_login_path, {"data-icon" => "gear", "data-iconpos" => "notext", "class" => "ui-btn-right"}) %>
</div>