<div data-role="header">
  <%= link_to("HOME", main_index_path, {"data-icon" => "home", "data-iconpos" => "notext", "class" => "ui-btn-left"}) %>  
  <h1>管理画面</h1>
  <%= link_to("HOME", admin_authentication_logout_path, {"data-icon" => "back", "data-iconpos" => "notext", "class" => "ui-btn-right"}) %>  
</div>
